<div class="main-content">
    <div class="container-fluid">
      <div class="card">
            <div class="header">
                <h4>ค้นหาและบริการฐานข้อมูลคำทำนาย</h4>
            </div>
            <div class="container text-left">
              <div class="row row-cols-2">
                <div class="col">
                  <label>ประเภทคำทำนายขั้น 1</label>
                    <select class="form-select" [(ngModel)]="formModel.predict1" (ngModelChange)="onpredict1Change(formModel.predict1)">
                      <option selected [value]="null">--เลือก--</option>
                      <option *ngFor="let item of PredictList1" [value]="item.id">{{ item.label }}</option>
                    </select>
                </div>
                <div class="col">
                  <label>ประเภทคำทำนายขั้น 2</label>
                    <select class="form-select" [(ngModel)]="formModel.predict2" (ngModelChange)="onpredict2Change(formModel.predict2)">
                      <option selected [value]="null">--เลือก--</option>
                      <option *ngFor="let item of PredictList2" [value]="item.id">{{ item.label }}</option>
                    </select>
                </div>
                <div class="col">
                  <label>ประเภทคำทำนายขั้น 3</label>
                    <select class="form-select" [(ngModel)]="formModel.predict3" (ngModelChange)="onpredict3Change(formModel.predict3)">
                      <option selected [value]="null">--เลือก--</option>
                      <option *ngFor="let item of PredictList3" [value]="item.id">{{ item.label }}</option>
                    </select>
                </div>
                <div class="col">
                  <label>ประเภทคำทำนายขั้น 4</label>
                    <select class="form-select" [(ngModel)]="formModel.predict4">
                      <option selected [value]="null">--เลือก--</option>
                      <option *ngFor="let item of PredictList4" [value]="item.id">{{ item.label }}</option>
                    </select>
                </div>
              </div>
            </div>
                          <div class="col-md-12">
                              <label class="ms-3 mt-3">ประเภท</label>
                              <div class="container row">
                                  <div class="col-md-10 input-date"> 
                                      <input class="chk-days ms-3" for="checkboxall" type="checkbox" id="chk-all" name="day"><label>ตลอด</label>
                                      <input class="chk-days ms-3" type="checkbox" id="chk-day" name="day"><label>รายวัน</label>
                                      <input class="chk-days ms-3" type="checkbox" id="chk-week" name="day"><label>รายสัปดาห์</label>
                                      <input class="chk-days ms-3" type="checkbox" id="chk-month" name="day"><label>รายเดือน</label>
                                      <input class="chk-days ms-3" type="checkbox" id="chk-year" name="day"><label>รายปี</label>  
                                  </div>                          
                              </div>
                          </div>
                          <!-- datepicker -->
                          <div class="d-inline-flex p-2">
                          <ngb-datepicker style="justify-content: center;" #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
                          </ngb-datepicker>
                          
                          <ng-template #t let-date let-focused="focused">
                            <span
                              
                              class="custom-day"
                              [class.focused]="focused"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null"
                            >
                              {{ date.day }}
                            </span>
                          </ng-template>                     
                          <hr />
                          <pre>From: {{ fromDate | json }} </pre>
                          <pre>To: {{ toDate | json }} </pre>
                        </div>
                          <!-- ***** -->

                          <div class="d-flex justify-content-end me-3">
                            <button type="button" class="btn btn-add-predict" data-bs-toggle="modal" data-bs-target="#exampleModal">
                              <i id="myicon1" class="fa fa-user"></i>เพิ่มข้อมูลคำทำนาย
                            </button>
                            <!-- <button (click)="addpredict(this.predictform.value)" type="button" class="btn btn-add-predict" >
                              <i id="myicon1" class="fa fa-user"></i>เพิ่มข้อมูลคำทำนาย
                            </button> -->
                          </div>

                      <div class="table-container">
                        <h3 class="result-predict">Search Result</h3>
                        <table class="table">
                            <thead class="">
                              <tr class="alert alert-primary">
                                <th class="">ลำดับ</th>
                                <th class="text-center">ประเภท</th>
                                <th class="text-center">รายละเอียด</th>
                                <th class="text-center">ประเภทคำทำนาย</th>
                                <th class="text-center">from</th>
                                <th class="text-center">to</th>
                                <th class="text-center">คำทำนาย</th>
                                <th class="text-center">จัดการ</th>
                              </tr>
                            </thead>
                        
                            <tbody>
                              <tr *ngFor="let item of horolist">
                                <td class="text-center"> {{item.idn}}</td>
                                <td class="text-center"> {{item.topic}} </td>
                                <td class="text-left"> {{item.detail}} </td>
                                <td class="text-center"> {{item.type}} </td>
                                <td class="text-center"> {{item.startdate}} </td>
                                <td class="text-center"> {{item.enddate}} </td>
                                <td class="text-center"> {{item.timename}} </td>
                                <td class="text-center">
                                  <!-- openmodal -->
                                  <button type="button" class="btn btn-warning"(click)="openEditModal()" data-bs-toggle="EditModal" data-bs-target="#EditModal">
                                    <i id="myicon1" class="fa fa-edit"></i>Edit
                                  </button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>         
<!-- Modal Add data -->
<div class="modal fade" style="position: absolute;" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style=" background-color: #007bff;" class="modal-header">
        <h3 style="color: white;" class="modal-title" id="exampleModalLabel">Add Horoscopes</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="horoscopesform">
          <div class="container text-left">
            <div class="row row-cols-2">
              <div class="col">
                <label>ประเภทคำทำนายขั้น 1</label>
                  <select class="form-select" [(ngModel)]="formModel.predict1" (ngModelChange)="onpredict1Change(formModel.predict1)">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList1" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
              <div class="col">
                <label>ประเภทคำทำนายขั้น 2</label>
                  <select class="form-select" [(ngModel)]="formModel.predict2" (ngModelChange)="onpredict2Change(formModel.predict2)">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList2" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
              <div class="col">
                <label>ประเภทคำทำนายขั้น 3</label>
                  <select class="form-select" [(ngModel)]="formModel.predict3" (ngModelChange)="onpredict3Change(formModel.predict3)">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList3" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
              <div class="col">
                <label>ประเภทคำทำนายขั้น 4</label>
                  <select class="form-select" [(ngModel)]="formModel.predict4">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList4" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex flex-column mb-3">
        <div class="d-inline-flex p-2" style="justify-content: center;">
          <ngb-datepicker  #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>
          
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>        
        </div>
        <span>From: {{ fromDate | json }} </span>
        <span>To: {{ toDate | json }} </span>
        <div class="p-2 mb-3"> 
          <label for="exampleFormControlTextarea1" class="form-label">คำทำนาย</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="predictDetail">

          </textarea>
        </div>
      </div>

      <div style="background-color: #007bff;" class="modal-footer">
        <button type="button" class="btn btn-primary">Generate AI</button>
        <button type="button" class="btn btn-danger" (click)="CancelData(this.horoscopesform.value)" data-bs-dismiss="modal">Cancel</button>
        <button (click)="addhoroscopes(this.horoscopesform.value)" type="button" class="btn btn-primary">Add</button>
      </div>
      
    </div>
  </div>
</div>

<!-- Modal Edit data -->  
<div class="modal fade EditModal" style="position: absolute; height: 850px;" id="EditModal" [class.show]="editModalVisible" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div style=" background-color: #007bff;" class="modal-header">
        <h3 style="color: white;" class="modal-title" id="exampleModalLabel">Edit Horoscopes</h3>
        <button type="button" class="btn-close" data-bs-dismiss="EditModal" aria-label="Close"></button>
      </div>
      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="horoscopesform">
          <div class="container text-left">
            <div class="row row-cols-2">
              <div class="col">
                <label>ประเภทคำทำนายขั้น 1</label>
                  <select class="form-select" [(ngModel)]="formModel.predict1" (ngModelChange)="onpredict1Change(formModel.predict1)" formControlName="predictType1">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList1" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
              <div class="col">
                <label>ประเภทคำทำนายขั้น 2</label>
                  <select class="form-select" [(ngModel)]="formModel.predict2" (ngModelChange)="onpredict2Change(formModel.predict2)" formControlName="predictType2">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList2" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
              <div class="col">
                <label>ประเภทคำทำนายขั้น 3</label>
                  <select class="form-select" [(ngModel)]="formModel.predict3" (ngModelChange)="onpredict3Change(formModel.predict3)" formControlName="predictType3">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList3" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
              <div class="col">
                <label>ประเภทคำทำนายขั้น 4</label>
                  <select class="form-select" [(ngModel)]="formModel.predict4" formControlName="predictType4">
                    <option selected [value]="null">--เลือก--</option>
                    <option *ngFor="let item of PredictList4" [value]="item.id">{{ item.label }}</option>
                  </select>
              </div>
            </div>
          </div>
        </form>
        <div class="d-flex flex-column mb-3">
        <div class="d-inline-flex p-2" style="justify-content: center;">
          <ngb-datepicker  #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
          </ngb-datepicker>
          
          <ng-template #t let-date let-focused="focused">
            <span
              class="custom-day"
              [class.focused]="focused"
              [class.range]="isRange(date)"
              [class.faded]="isHovered(date) || isInside(date)"
              (mouseenter)="hoveredDate = date"
              (mouseleave)="hoveredDate = null"
            >
              {{ date.day }}
            </span>
          </ng-template>        
        </div>
        <span>From: {{ fromDate | json }} </span>
        <span>To: {{ toDate | json }} </span>
        <div class="p-2 mb-3"> 
          <label for="exampleFormControlTextarea1" class="form-label">คำทำนาย</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" formControlName="predictDetail">

          </textarea>
        </div>
      </div>

      <div style="background-color: #007bff;" class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="EditModal">Cancel</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
      
    </div>
  </div>
</div>


