.card-user {
    padding-top: 10px;
}
.avatar-chat {
    width:  60px;
    height: 60px;
    border: 5px solid #FFFFFF;
    /* position: relative; */
    /* margin-bottom: 15px; */
    border-radius: 50%;
}
h5 {
    margin-bottom: 0px;
}
.col-md-6 {
    padding-left: 5px;
    padding-right: 5px;
}

#description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
    /* กำหนดความกว้างสูงสุดของ description */
}

.pre-scrollable {
    max-height: 800px;
    overflow-y: scroll;
}

.scrollbar {
    max-height: 800px;
    overflow-y: scroll;
}

.force-overflow {
    min-height: 450px;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 5px;
    background-color: #F5F5F5;
}

.scrollbar-primary::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
    background-color: #abaeb3;
}

.scrollbar-primary {
    scrollbar-color: #4285F4 #F5F5F5;
}

/* .chat-body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#009688 0%, #009688 130px,#d9dbd5 130px, #d9dbd5 100%  );
} */

/* chatbox */
.chatBox {
    position: relative;
    width: 100%;
    height: calc(100% - 120px);
    padding: 50px;
    overflow-y: auto;
}

.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
}
.message p {
    position: relative;
    right: 0;
    text-align: right;
    max-width: 65%;
    padding: 12px;
    background: #dcf8c6;
    border-radius: 10px;
}

.message p::before {
    content: '';
    position:absolute;
    top: 0;
    right: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(135deg,#dcf8c6 0%,#dcf8c6 0%,#dcf8c6 50%,transparent 50%,transparent);
}
.message p span {
    display:block;
    margin-top: 5px;
    opacity: 0.5;
}
.my-message {
    justify-content:flex-end;
}

.fri-message {
    justify-content: flex-start;
}

.fri-message p{
    background: rgb(241, 239, 239);
    text-align: left;
}

.message.fri-message p::before{
    content: '';
    position: absolute;
    top: 0;
    left: -12px;
    width: 20px;
    height: 20px;
    background: linear-gradient(225deg,rgb(241, 239, 239) 0%,rgb(241, 239, 239) 50%,transparent 50%, transparent);
}

.chatbox-input icons{
    cursor: pointer;
    color : #51585c;
}
/* .chatbox-input {
    background-color: #abaeb3;
} */
.active {
    /* สไตล์สำหรับสถานะ active ที่คุณต้องการ */
    background-color: rgb(187, 220, 252);
    color: white;
}

.chatbox-input input {
    position: relative;
    width: 90%;
    margin: 0 20px;
    padding: 10px 20px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: #abaeb3;
}
 
.chat-table-fri {
    cursor: pointer;
}

.chat-table-fri:active {
    background-color: #ccc;
}

.chat-table-fri:hover{
    background-color: #ddd;
}

.chat-table-fri:visited {
    color: #888;
}

/* Search */
.box {
    max-width: 360px;
    width: 100%;
    z-index: 1;
     /* Add this line */
}
.box .search-box {
    position: relative;
    height: 40px;
    max-width: 40px;
    margin: auto;
    box-shadow:0 5px 10px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    transition: all 0.3 ease;
}

.search-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    background: #FFF;
    outline: none;
    border: none;
    padding-left: 20px;
    font-size: 18px;
}

.search-box .icon {
    position: absolute;
    right: -2px;
    top: 0;
    width: 40px;
    background:#fff  ;
    height: 100%;
    text-align: center;
    line-height: 40px;
    color: rgb(189, 189, 189);
    font-size: 20px;
    border-radius: 25px;
}

#check:checked ~ .search-box  {
    max-width: 340px;
}

#check:checked ~ .search-box .icon {
    background: rgb(188, 211, 255);
    color: #fff;
    width: 50px;
    border-radius: 0 25px 25px 0;
}

#check {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
    padding-left: 0px;
    
}
